body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .content {
    width: 700px;
    margin: 0 auto;
    text-align: justify;
  }

  .image {
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto; 
  }
  
  h1 {
    font-size: 35px;
    font-weight: bold;
  }

  p {
    color:rgb(128, 128, 128) ;
    font-size: 16px;
    line-height: 1.5;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-left: 30px;
    color: rgb(128, 128, 128) ;
    line-height: 1.5;
  }
  .but{
    width: 4cm;
    height: 50px;
    background: #20bef3;
    color: white;
    font-size: 15px;
    border: solid  #20bef3;
    cursor: pointer; /*hiện trỏ*/
  }